# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# Model and data

temp_uploaded.pdf

# Logs
*.log

# React build
frontend/dist/

